.env

tmp_pdf/

tmp_txt/

*.ipynb

venv/

_mail_asrs/*

!_mail_asrs

!_mail_asrs/.gitkeep

_asr_pdfs/

logs/

*.pdf

*.xls
*.xlsx
*.xlsm

**/*.pyc
*.pyc
/__pycache__

txts/
pdfs/
archives/
_archive_pdf/